:root {
  --color-light : #f8fafc;
  --color-dark-50 : #797984;
  --color-dark-100 : #312d37;
  --color-black : #000;

  /* --color-gradient: linear-gradient(90deg, var(--color-black), var(--color-dark-100), var(--color-dark-50)); */

}

footer {
  background: var(--color-dark-100);
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  
  & .rodape {
    /* background: red; */
    padding: 2rem ;
    display: flex;
    /* justify-content: space-between; */
    max-width: 1120px;
    gap: 25px;
    flex-direction: column;
    margin: auto;

    & .rodape-contato {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      /* flex: 1; */

      & .redes-socias,
      & .localizacao,
      & .saiba-mais {
        width: 300px;
        /* display: flex; */
        /* flex-direction: column; */
        /* gap: 25px; */

        & .redes-socias-titulo h3,
        & .localizacao-titulo h3,
        & .saiba-mas-titulo  h3 {
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          /* margin-bottom: 20px; */
        }

        & .redes-socias-titulo .bar,
        & .localizacao-titulo .bar,
        & .saiba-mas-titulo  .bar {
          width: 70px;
          height: 5px;
          background: var(--primary);
          margin: 0.5rem 0 1.5rem 0;
          border-radius: 5px;
        }

        & .localizacao-info, 
        & .saiba-mais-info {
          font-size: 14px;
        }
        & .redes-socias-icon {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          
          & a {
            display: flex;
            /* justify-content: center; */
            font-size: 14;

            & img{
              width: 20px;
              height: 20px;
              margin-right: 10px;
            } 
          }
        }
      }
    }

      & .autor {
        font-size: 14px;
        color: #5c5c5c;
    
        & a {
          color: #5c5c5c;;
        }
      }

  }

}
