@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary: #4c876f;
  --secondary: #4a8eab;
  --tertiary: #b2b2b2;
  --black: #00050f;

  --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font);
  width: 100vw;
  /* margin: 0; */
}

a {
  text-decoration: none;
  color: var(--black);
}
strong {
  font-weight: 700;
}
footer {
  margin-top: auto;
}



/* Para deixar o footer sempre por baixo 
html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}*/