@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary: #4C876F;
  --secondary: #4A8EAB;
  --tertiary: #B2B2B2;
  --black: #00050F;

  --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  font-family: var(--font);
  height: 100vh;
  background-color: var(--tertiary);
  margin: auto;
  
  & .menu {
    background-color: greenyellow;
    display: flex;
    padding: 0 2rem;
    font-weight: 700;
    /* align-items: center; */
    justify-content: space-between;
    height: 120px;

    & #logo {
      background-image: url('/assets/img/vidromis\ img.jpg');
      width: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    & .menunav {
      display: flex;
      /* flex: 1; */
      justify-content: space-around;

      & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        & li {
          list-style: none;
          text-transform: uppercase;
        }
      }
    }
  }

  /* estilo do slider */
  & .slider {
    flex: 1;
    overflow: hidden;
    /* width: 500px; */

    & .slider--controls {
      position: absolute;
      z-index: 99;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;

      & .slider--control {
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }
    }

    & .slider--width {
      height: 100%;
      display: flex;
      transition: all ease 0.3s;
    }
  
    & .slider--item {
      width: 100vw;
      height: inherit;  /* para herdar a altura do pai */
      background-position: center;
      background-size: cover;
    }
  }
}